/* The animation code */
@keyframes animatedcircle {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
  /* The element to apply the animation to */
  div {
    width: 100px;
    height: 100px;
    background-color: red;
    filter: grayscale(0%); /* Start with no grayscale (full color) */
    transition: filter 2s linear; /* Transition over 5 seconds */
  }
  
  .logo  {
    width: 50px;
    height: auto;
    background: url('instagram-logo.png') 
    background-size: cover;
    animation: spin 4s linear infinite; 
  }
  
  
  @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }
  .logos{
      display:flex;
      justify-content: center;
      align-items: center;
      height: h;
    
  }
  .logo:hover {
    animation-play-state: paused; 
  }
  
  .square {
    width: 200px;
    height: 200px;
    background-color: red;
    transition: filter 1s;
filter: hue-rotate(240deg); 

}

