@keyframes animatedsquare {
  0%   {background-color: rgb(0, 255, 55);}
  25%  {background-color: rgb(255, 0, 174);}
  50%  {background-color: blue;}
  100% {background-color: green;}
  animation-duration
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: animatedcircle;
  border-radius: 200%;
  transform: rotateY(200px)
  animation-duration: 4s;
  animation-iteration-count:infinite;    
} 

.logo  {
  width: 50px;
  height: auto;
  background: url('instagram-logo') 
  background-size:cover;
  animation:spin 3s linear infinite; 
}


@keyframes spin {
    0% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(350deg);
    }
}
.logos{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
  
}
.logo:hover {
  animation-play-state: paused; 
}
