.square {
  width: 200px;
  height: 200px;
  background-color: red; /* Initial color */
  transition: filter 1s; /* Adds a smooth transition effect */

  /* Initial filter property - blue */
  filter: hue-rotate(240deg); /* Blue filter */
}

/* Change the filter property when the square is hovered */
.square:hover {
  filter: hue-rotate(0deg); /* Red filter on hover */
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: animatedcircle;
  border-radius: 200%;
  transform: rotateY(200px)
  animation-duration: 4s;
  animation-iteration-count:infinite;    
} 

.logo  {
  width: 200px;
  height: auto;
  background: url('linkedin-logo') 
  background-size:cover;
  animation:spin 3s linear infinite; 
}


@keyframes spin {
    0% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(350deg);
    }
}

.logo:hover {
  animation-play-state: paused; 
}
